doctype html
html
  head
    title= title

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap/bootstrap.min.css')

    link(rel='icon', type='image/x-icon', href='/images/favicon.ico')

  body

    script(src='/js/jquery/jquery.min.js')
    script(src='/js/bootstrap/bootstrap.min.js')
    
    div.container
      block content
