mixin nav(nav_options)
  unless (nav_options === undefined || nav_options.length == 0)
    nav
      ol.breadcrumb.justify-content-end
        each option in nav_options
          - const style = option.style || 'primary'
          li.breadcrum-item.mr-2
            a.btn(class='btn-'+style, href=option.href)= option.text