extends ../templates/layout

include ../templates/nav
include ../templates/alert

block content

  - const nav_options = [{ text: 'Logout', href: 'logout'}, { text: 'Home', href: '/', btnStyle: 'link' }]
  +nav(nav_options)

  +alert(alert)

  h1= user.email
